RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
RewriteRule ^management$ index.php?controller=login&action=login
RewriteRule ^profile$ index.php?controller=user&action=details
RewriteRule ^login$ index.php?controller=user&action=login
RewriteRule ^index$ index.php?controller=home&action=index
RewriteRule ^search$ index.php?controller=admin&action=index
